:root {
  --gradient: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  --zinc-400: #a1a1aa;
  --dark-purple: #443e54;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121214;
}
.pmain {
  color: var(--zinc-400);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
}
.h1main {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
}
main {
  display: flex;
  width: 580px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
#avatar {
  width: 120px;
  margin: 32px auto 0;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
  border-radius: 50%;
  display: flex;
  padding: 4px;
}
div {
  display: flex;
  padding: 24px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-top: 4px solid;
  border-image: linear-gradient(90deg, #9572fc, #43e7ad, #e2d45c) 1;
  background: #2a2634;
  border-radius: 8px;
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
}
#mygames img {
  width: 90px;
  height: 120px;
  border-radius: 8px;
  margin-top: 24px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
#mygames ul {
  display: flex;
  gap: 16px;
}

#canais img {
  border-radius: 50%;
  border: 1px solid var(--dark-purple);
  margin-top: 24px;
}
#canais ul {
  display: flex;
  gap: 16px;
}
#redes li {
  width: 32px;
  height: 32px;
}
#redes ul {
  margin-right: 0;
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
